# Database Configuration
DATABASE_URL="postgresql://user:password@host:5432/dbname"

# NextAuth Configuration
NEXTAUTH_SECRET="generate-with-openssl-rand-base64-32"
NEXTAUTH_URL="http://localhost:3000"

# OpenAI API Configuration
OPENAI_API_KEY="sk-your-openai-api-key-here"

# Application Configuration
APP_NAME="SOCIAL ECHO"
NODE_ENV="production"
